body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #ecedee;
  background: linear-gradient(to right, rgb(158, 198, 252), rgb(235, 255, 51));
}